backend:
  name: git-gateway
  repo: Full-Stack-HQ/fullstackhq.io

media_folder: static/images/uploads
public_folder: /images/uploads

publish_mode: editorial_workflow

site_url: https://fullstackhq.io
display_url: https://fullstackhq.io

collections:
  - name: posts
    label: Posts
    folder: src/posts
    create: true
    extension: md
    fields:
      - { name: layout, label: Layout, widget: hidden, default: "post" }
      - { name: title, label: Title }
      - { name: image, label: Image, widget: image, allow_multiple: false }
      - { name: imageCreditText, label: "Image Credit Text" }
      - { name: imageCreditLink, label: "Image Credit Link" }
      - { name: author, label: Author }
      - { name: tags, label: Tags, widget: list }
      - { name: date, label: Date, widget: datetime }
      - { name: draft, label: Draft, widget: boolean, default: true }
      - { name: body, label: Body, widget: markdown }